<!doctype html>
<html lang="en">
    <head>
        <title>Timestamp microservice</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="header">
                 Timestamp microservice
            </h1>
            <h3>Example usage:</h3>
            <code>https://amused-triangle.glitch.me/December%2015,%202015</code><br>
            <code>https://amused-triangle.glitch.me/1450137600</code>
            <h3>Example output:</h3>
            <code>
                {
                  "unix": 1450137600,
                  "natural": "Tue Dec 15 2015"
                }
            </code>
        </div>
    </body>
</html>